<navi-bar [showName]="true" [showSocialBlock]="true"></navi-bar>
<div class="contact-us">
    <h1>Let's click together!</h1>
    <div class="static-info">
        <div>
            <a href="mailto:hello@thepixelatedplanet.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>hello@thepixelatedplanet.com</span>
            </a>
        </div>
        <div>
            <a href="tel:+1-971-278-1814">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <span>971-278-1814</span>
            </a>
        </div>
    </div>
    <div class="form-wrapper">
        <form (ngSubmit)="onSubmit(); contactForm.reset()" name="contact-form" #contactForm="ngForm">
            <div class="name-group">
                <div class="form-group first-name">
                    <input type="text" class="form-control" id="fname" required [(ngModel)]="fname" name="fname" #firstname="ngModel" placeholder="Full name">
                    <div *ngIf="!(firstname.valid || firstname.pristine)" class="alert alert-danger">
                        Invalid name
                    </div>
                </div>
            </div>
            <div class="mail-number-group">
                <div class="form-group">
                    <input type="text" class="form-control" id="email" required [(ngModel)]="emailId" name="email" #email="ngModel" placeholder="Email address">
                    <div *ngIf="!(email.valid || email.pristine)" class="alert alert-danger">
                        Invalid email address
                    </div>
                </div>
            </div>
            <div class="form-group subject-box">
                <input type="text" class="form-control" id="subject" required [(ngModel)]="subjectText" name="subject" #subject="ngModel"
                    placeholder="Subject">
                <div *ngIf="!(subject.valid || subject.pristine)" class="alert alert-danger">
                    Invalid subject
                </div>
            </div>
            <div class="form-group message-box">
                <textarea class="form-control" id="message" required rows="4" cols="50" name="message" form="contact-form" [(ngModel)]="messageText"
                    #message="ngModel" placeholder="How can we help you?"></textarea>
                <div *ngIf="!(message.valid || message.pristine)" class="alert alert-danger">
                    Invalid message
                </div>
            </div>
            <button type="submit" class="submit-btn btn btn-success" [disabled]="!contactForm.form.valid">Submit</button>
        </form>
    </div>

    <div class="message-dialog" *ngIf="submitted && showMessageBox">
        <div class="wrapper">
            <div class="text">{{submitMessage}}</div>
            <button class="ok-btn btn" (click)="hideMessagebox()">ok</button>
        </div>
    </div>
    <div class="footer">
        <footer></footer>
    </div>
</div>