<navi-bar [showName]="true">></navi-bar>

<div class="header-img">
    <img class="detail-img" src="https://pixelatedplanetcdn.azureedge.net/img/yosemite.jpg" alt="workshop image" />
</div>

<div class="content">
    <h2>About Us</h2>
    PixelatedPlanet enables aspiring photographers to find workshops and seminars all around the world being conducted by people
    successful in the field of photography. On the other hand, we provide a platform for photographers to showcase their
    photography workshops and reach interested folks.
    <h2>FAQs</h2>
    <b>Do you have workshops of all genres?</b>
    <br/> Of course! You can find everything from Landscape and Food photography to Timelapse and Night Sky photography workshops.
    <br/><br/>
    <b>Does PixelatedPlanet allow me to register for workshops?</b>
    <br/> As of now, we aim to bring all photography workshops in one place. After finding the workshop you like, we will
    redirect you the photographer's website for registration/payment.
    <br/><br/>
    <b>Does PixelatedPlanet charge me for finding workshops?</b>
    <br/> No. All information on our website if freely accessible. No hidden costs.
    <br/><br/>
    <b>I am a photographer. Can I showcase my workshops on your website?</b>
    <br/> We carefully select photographers based on their portfolios to keep quality of workshops high. Please email us
    at hello@thepixelatedplanet.com in order to get in touch with us!
</div>
<div class="footer">
    <footer></footer>
</div>