<nav class="nav-container">
  <a title="Go to homepage" href="" class="company-icon">
    <img class="image" src="/assets/img/icon.png" alt="workshop image">
    <span *ngIf="showName" class="company-name">Pixelated Planet</span>
  </a>
  <div class="navbar-header">
    <button *ngIf="showFilters" type="button" class="filter-header btn" (click)="toggleFilter()">
          <div>Filters <i class="fa fa-filter" aria-hidden="true"></i></div>
    </button>
    <button type="button" class="navbar-toggle" (click)="toggleNavbar()">
      <div><i class="fa fa-bars" aria-hidden="true"></i></div>
    </button>
  </div>

  <div class="navbar-collapse" [ngClass]="{'hideNavbar': hideNavbar}">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a title="Go to workshop list" href="/workshops" (click)="onNavButtonClick('Workshops')">WORKSHOPS</a></li>
      <li><a title="Go to About page" href="/about" (click)="onNavButtonClick('About')">ABOUT</a></li>
      <li><a title="Go to Contact page" href="/contact" (click)="onNavButtonClick('Contact')">CONTACT</a></li>
      <li *ngIf="showSocialBlock" class="social-link" (click)="toggleSubscribeBlock()">SUBSCRIBE</li>
      <li *ngIf="showSocialBlock" class="social-link" (click)="toggleShareBlock()">#SpreadLove</li>
    </ul>
  </div>
</nav>

<div class="flyout-blocks" [hidden]="hideSubscribe">
  <div class="flyout-description">Subscribe to our newsletter and upcoming workshops</div>
  <input type="text" placeholder="Enter email id" class="email-textbox" [(ngModel)]="emailId">
  <button type="button" class="subscribe-btn btn" (click)="submitEmail()">Subscribe</button>
</div>
<div class="flyout-blocks social" [hidden]="hideShare">
  <div class="social-icons">
    <div [attr.data-href]="router.url">
      <a title="Share on Facebook" class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.thepixelatedplanet.com%2F&amp;src=sdkpreparse">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
    </div>
    <a title="Share on twitter" href="https://twitter.com/intent/tweet?text=Best%20Photography%20Workshops&url=https%3A%2F%2Fwww.thepixelatedplanet.com">
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </a>
  </div>
</div>