.dropdown-container {
    height: 3.6rem;
    width: 13.5rem;
    margin-right: 1rem;
    margin-top: 1.4rem;
    input {
        height: 3.6rem;
        width: 13.5rem;
        border: 0;
        height: 3.6rem;
        text-align: center;
        background-color: white;
        color: #26181D;
        margin-right: 1rem;
        border-radius: 5px;
        border: none;
    }
}

@media (max-width: 1050px) {
    .dropdown-container {
        margin: 0;
        width: 100%;
        input {
            width: 70%;
            display: inline-block;
            margin: auto;
        }
    }
}