.filters,
.list {
    position: absolute;
    left: 0;
    width: 100%;
}

.filters {
    position: fixed;
    background-color: transparent;
    height: auto;
    width: 90rem;
    padding-bottom: .3rem;
    left: 5rem;
    z-index: 3;
}

.list {
    left: 0;
    top: 10rem;
    overflow-x: hidden;
    min-height: 80%;
    position: relative;
    width: 100%;
    height:100%;
}

.ws-container {
    min-height:100%;
    nav.navbar.navbar-default {
        background-color: white;
        border: none;
    }
    .navbar-default .navbar-nav .active a {
        background-color: transparent;
    }
}

@media (max-width: 1050px) {
    .filters {
        position: fixed;
        background-color: #26181D;
        height: 100%;
        width: 100%;
        top: 5rem;
        padding-bottom: 2rem;
        left: 0;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1); //z-index: -2;
    }
    .list {
        top: 5rem;
        position: relative; //z-index: -3;
    }
    .hideFilter {
        display: none;
    }
    .footer {
        position: relative;
        bottom: 0;
    }
}