<div class="ws-container">
    <navi-bar [showFilters]="true" [showSocialBlock]="false" [hideFilter]="hideFilter" (filtersDropdownToggle)="toggleFilterDropdown($event)"></navi-bar>
    <div class="filters" [ngClass]="{'hideFilter': hideFilter}" id="filters">
        <workshop-filter (minPriceFilterChanged)="setMinPrice($event)" (maxPriceFilterChanged)="setMaxPrice($event)" (dateRangeChanged)="setDateRange($event)"
            (locationFilterChanged)="setLocationIdList($event)" (categoryFilterChanged)="setCategoryList($event)" (applyFilters)="toggleFilterDropdown($event)"></workshop-filter>
    </div>
    <div class="list">
        <workshops-list [active]="pageNumber"></workshops-list>
        <div class="footer">
            <footer></footer>
        </div>
    </div>
</div>