.detail-img {
    height: 40rem;
    width: 100%;
    object-fit: cover;
}

.profile-img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    margin-right: 2rem;
}

.profile-photo {
    float: left;
}

.photographer-name h1 {
    font-size: 2.5rem;
    color: #73656A;
}

.photographer-information h4 {
    margin-top: 0;
}

.detail-location {
    color: #73656A;
    opacity: 0.8;
    margin-bottom: .5rem;
}

.website-link {
    text-decoration: none;
    margin-bottom: 1rem;
}


/* Style the tab */

div.tab {
    overflow: hidden;
    margin-top: 5rem;
    width: 100%;
    button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        border-bottom: 3px solid transparent;
        font-size: 2rem;
        color: #73656A;
        font-family: 'Open Sans', sans-serif;
        &.active {
            border-bottom: 3px solid #73656A;
        }
    }
}


/* Style the tab content */

.tabcontent {
    border-top: none;
    text-align: justify;
    padding: 2rem;
    height: 40rem;
    overflow: auto;
    width: 100%;
    background-color: rgba(239, 230, 233, 0.1);
    border-right: 1px solid #C8C8C8;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}

.detail-tabs {
    text-align: center;
    width: 65%;
    margin-left: 4rem;
    left: 0;
    float: left;
    margin-bottom: 5rem;
}

.details-container {
    position: relative;
}

.day-wrapper,
.photographer-information {
    padding-top: 2rem;
}

.day-wrapper .location,
.photographer-information h4 {
    color: #73656A
}

#Description {
    p {
        padding-top: 2rem;
        margin-right: .4rem;
    }
}

#Gallery {
    text-align: center;
    img {
        display: inline-block;
        vertical-align: middle;
        width: 24rem;
        height: 18rem;
        margin: 2rem;
        object-fit: cover;
        filter: sepia(20%);
    }
}

.modal-image {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.wsd-name {
    font-size: 3.5rem;
    color: #73656A;
    text-align: center;
    margin-top: 3rem;
    font-family: 'Montserrat', sans-serif;
}

.wsd-location {
    h2 {
        margin-top: 0;
    }
}

.highlights {
    display: inline-block;
    margin-top: 10.5rem;
    margin-left: 5rem;
    a {
        color: #73656A;
    }
    div {
        font-size: 2rem;
        font-weight: 300;
        color: #73656A;
        i {
            color: #73656A;
            font-size: 1.6rem;
            margin-right: .5rem;
        }
        span,
        a {
            font-size: 1.8rem;
        }
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 2.2rem;
        }
    }
}

.image-modal {
    position: fixed;
    z-index: 1;
    /* padding-top: 5rem; */
    left: 0;
    top: 5rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}


/* Modal Content */

.image-modal-content {
    margin: 0;
    padding: 0;
    position: relative;
}

.hide-modal {
    display: none;
}


/* The Close Button */

.close {
    color: white;
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 99;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.hideImage {
    display: none;
}

.cursor {
    cursor: pointer
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

.slides {
    text-align: center;
    position: relative;
    height: 100%;
    line-height: 100%;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.active {
    opacity: 1;
}

.gallery-image.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.footer {
    clear: both;
}

@media (min-width: 955px) and (max-width: 1140px) {}

@media (max-width: 955px) {
    #Gallery {
        padding-left: 0;
        padding-right: 0;
        img {
            width: 24rem;
            height: 15rem;
        }
    }
    .dates-information {
        text-align: left;
        padding-left: 5rem;
    }
    div.tab {
        text-align: center;
        button {
            width: 50%;
            display: block;
            margin: auto;
        }
    }
    .tabContent {
        text-align: center;
        border-right: none;
        p {
            text-align: justify;
            padding: 2rem;
        }
    }
    .detail-tabs {
        padding: 0 2rem;
        display: inline-block;
        width: 100%;
        margin-left: 0;
        float: none;
        margin-bottom: none;
    }
    .highlights {
        margin-top: 0.2rem;
        width: 100%;
        text-align: center;
        margin-left: 0; //position: inherit;
    }
}