<div [class.list-in-ws-page]="!!activePage" class="workshop-list">
    <div *ngIf="asyncData?.length > 0">
        <article class="entity" *ngFor="let data of asyncData">
            <a title="{{data.name}}" href="{{data.workshopDetailsUrl}}" (click)="onSelectWorkshop(data.workshopId)">
                <div class="inner">
                    <img class="image1" [ngClass]="{'hideImage': imagesLoaded}" src="{{data.cardImageDefaultLink}}" alt="{{data.name}}"/>
                    <img class="image" [ngClass]="{'hideImage': !imagesLoaded}" (load)="imageLoaded(data.workshopId)" src="{{data.cardImageCDNLink}}" alt="{{data.name}}"/>
                    <h4 class="name truncate" title="{{ data.name }}">
                        {{ data.name }}
                    </h4>
                    <hr>
                    <div class="location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>{{data.locationName}}</span>
                    </div>
                    <div class="date">
                        <span>{{data.startDateFirstStr}}</span>
                        <span *ngIf="data.startDateFirst != data.endDateFirst">-</span>
                        <span *ngIf="data.startDateFirst != data.endDateFirst"> {{data.endDateFirstStr}} </span>
                    </div>
                    <div class="price" *ngIf="data.minCost == data.maxCost">{{data.costCurrency}} {{data.minCost}}</div>
                    <div class="price" *ngIf="data.minCost < data.maxCost">{{data.costCurrency}} {{data.minCost}}-{{data.maxCost}}</div>
                </div>
            </a>
        </article>
        <div *ngIf="itemsPerPage > itemLimit" class="ws-pages">
            <a title="Go to previous page" class="page-numbers" *ngIf="pageNumbers" [ngClass]="{'disabled': activePage <=1 }" [href]="createPageLink(activePage-1)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <i class="fa fa-chevron-left" aria-hidden="true"></i><span>Previous</span></a>
            <a title="Go to page {{page}}" class="page-numbers" [ngClass]="{'active-page': activePage == page}" *ngFor="let page of pageNumbers;" [href]="createPageLink(page)">{{page}}</a>
            <a title="Go to next page" class="page-numbers" *ngIf="pageNumbers" [ngClass]="{'disabled': activePage == pageNumbers.length }" [href]="createPageLink(activePage-1+2)"><span>Next</span>
            <span class="chevron-wrapper"><i class="fa fa-chevron-right" aria-hidden="true"></i>
            <i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
        </div>
    </div>

    <div class="no-result-msg" *ngIf="asyncData?.length == 0">
        Sorry, we found 0 results. Please try different filters.
    </div>
</div>