.hero {
    width: 100%;
}

.header {
    background-image: url('https://pixelatedplanetcdn.azureedge.net/img/yosemite.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
}

.view-all {
    font-size: 2rem;
    text-decoration: none;
    color: #26181D;
}

.main-page-container {
    height: 100%;
    min-height: 100%;
}

.view-all-container {
    text-align: center;
    margin-top: 2rem;
}

.main-heading {
    font-size: 8rem;
    color: white;
    font-family: 'Comfortaa', cursive;
}

.chevron-down {
    text-decoration: none;
    position: absolute;
    bottom: 5rem;
    font-size: 4rem;
    color: white;
    margin-left: -1%;
}

.content {
    position: relative;
    top: 10rem;
}

header {
    position: absolute;
    top: 30%;
    width: 100%;
}

.btn {
    color: white;
    background-color: #26181D;
    top: 3rem;
    position: relative;
    border: none;
    border-radius: 300px;
    width: 30rem;
    font-size: 2rem;
    padding: 1rem;
    cursor: initial;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1.ws-heading {
    color: #26181D;
    text-align: center;
    font-family: 'HurmeGeometricSans3-Regular', Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#workshops {
    padding-top: 5rem;
}

.subtext {
    color: white;
    font-size: 2.5rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
}

@media (max-width: 955px) {
    .main-heading {
        font-size: 4.5rem;
    }
    header {
        top: 30%;
    }
    .btn {
        top: 3rem;
        width: auto;
        font-size: 1.8rem;
    }
    .chevron-down {
        font-size: 2.5rem;
        bottom: 1rem;
    }
    .subtext {
        font-size: 2rem;
        font-weight: 400;
    }
}

@media (max-width: 400px) {
    .chevron-down {
        font-size: 2rem;
        bottom: 1rem;
    }
    .main-heading {
        font-size: 3.8rem;
    }
    header {
        top: 30%;
    }
    .btn {
        top: 3rem;
        width: auto;
        font-size: 1.6rem;
    }
    .subtext {
        font-size: 1.8rem;
        font-weight: 400;
    }
}