.date-picker-container {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 1.4rem 1rem 0 1rem;
    height: 3.6rem;
    input {
        border-radius: 5px;
        height: 100%;
        text-align: center;
        background-color: white;
        color: #26181D;
        border: none;
        &::placeholder {
            font-family: 'Comfortaa', cursive;
        }
    }
}

@media (max-width: 1050px) {
    .date-picker-container {
        position: relative;
        display: inline-block;
        width: 70%;
        margin-bottom: 1.5rem;
        input {
            text-align: center;
            width: 100%;
        }
    }
}